body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
}

.invisable {
    display: none;
}

.twocolumn {
    display: table;
    width: 100%;
}
.twocolumn>div:first-child {
    display: inline-block;
    line-height: 3em;
    float: left;
}
.twocolumn>div:last-child {
    display: inline-block;
    line-height: 3em;
    float: right;
}

.channel {

}

.playing {

}
#lyrics {
    height: 1020px;
    text-align: center;
}
#channelpanel {
    height: 1020px;
}

#favpanel {
    height: 1020px;
}

#historypanel{
    height: 1020px;
}

#lyrics>div>div {
    line-height: 1.2em;
    min-height: 1.2em;
    height:auto;
    -webkit-animation: bbUI-fade-in 0.4s ease-in;
}
@media screen and (width:720px) and (height:720px){
    #lyrics{
        height:500px;
    }

    #channelpanel {
        height: 500px;
    }

    #favpanel {
        height: 500px;
    }

    #historypanel{
        height: 500px;
    }
}

.fav {

}

.playlist {

}

.highlight {
    color: #fff;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 0px 0px 30px yellow;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    /*font-weight: bold;*/
}

.panel{
    -webkit-animation: bbUI-fade-in 0.1s linear;
}

#actind {
    width: 100%;
    -webkit-animation: bbUI-fade-in 0.1s linear; 
}